@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

body {
    background-color: #222831;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
}
ncc=
.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navigation a { /* ✅ تصحيح التحديد */
    text-decoration: none;
    color: #eeeeee;
}

.navigation a:hover {
    color: #00adb5;
}

hr {
    opacity: 0.1; /* قيمة صحيحة */
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}
.arrow {
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
}
.heroSub {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name {
    font-size: 3rem;
    color: #eeeeee;
}
.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}
.aboutName {
    color: #eeeeee;
}
.aboutTitle {
    display: flex;
    color: #00adb5;
}
.aboutMePar {
    text-align: justify;
    color: rgba(238, 2538, 238, 0.75);
}
@media (max-width: 1023px) {
    header {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .hero {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .heroImg {
      width: 400px;
    }
    .name,
    .title {
      font-size: 2rem;
    }
    .arrow {
      display: none;
    }
    .aboutMe {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
    }
    .textContainer {
      align-items: center;
      margin: 0rem 5rem;
      gap: 1rem;
    }
    .aboutName,
    .aboutTitle {
      font-size: 2rem;
    }
    .light {
      width: 60px;
    }
    .aboutMeImg {
      width: 400px;
    }
    .worksContainer {
      padding: 5rem 0rem;
      gap: 3rem;
    }
    .projectTitle {
      margin-left: 1rem;
    }

    }
  